li > a{
    text-decoration: none;
    color: rgb(231, 242, 251) !important;;
}

li > a:hover { color: #3ab6e8 !important; }

 .bgDark{
    background: rgb(2, 1, 15);
    padding-bottom: 5vh;
 }

 .open{
    color: #22aae0;
 }
 div > .h-blue:hover{
   color: #3ab6e8 !important;
 }