img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 0.07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}

body {
    --wp--preset--color--black: #000000;
    --wp--preset--color--cyan-bluish-gray: #abb8c3;
    --wp--preset--color--white: #ffffff;
    --wp--preset--color--pale-pink: #f78da7;
    --wp--preset--color--vivid-red: #cf2e2e;
    --wp--preset--color--luminous-vivid-orange: #ff6900;
    --wp--preset--color--luminous-vivid-amber: #fcb900;
    --wp--preset--color--light-green-cyan: #7bdcb5;
    --wp--preset--color--vivid-green-cyan: #00d084;
    --wp--preset--color--pale-cyan-blue: #8ed1fc;
    --wp--preset--color--vivid-cyan-blue: #0693e3;
    --wp--preset--color--vivid-purple: #9b51e0;
    --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg, rgba(6, 147, 227, 1) 0%, rgb(155, 81, 224) 100%);
    --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg, rgb(122, 220, 180) 0%, rgb(0, 208, 130) 100%);
    --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg, rgba(252, 185, 0, 1) 0%, rgba(255, 105, 0, 1) 100%);
    --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg, rgba(255, 105, 0, 1) 0%, rgb(207, 46, 46) 100%);
    --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg, rgb(238, 238, 238) 0%, rgb(169, 184, 195) 100%);
    --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg, rgb(74, 234, 220) 0%, rgb(151, 120, 209) 20%, rgb(207, 42, 186) 40%, rgb(238, 44, 130) 60%, rgb(251, 105, 98) 80%, rgb(254, 248, 76) 100%);
    --wp--preset--gradient--blush-light-purple: linear-gradient(135deg, rgb(255, 206, 236) 0%, rgb(152, 150, 240) 100%);
    --wp--preset--gradient--blush-bordeaux: linear-gradient(135deg, rgb(254, 205, 165) 0%, rgb(254, 45, 45) 50%, rgb(107, 0, 62) 100%);
    --wp--preset--gradient--luminous-dusk: linear-gradient(135deg, rgb(255, 203, 112) 0%, rgb(199, 81, 192) 50%, rgb(65, 88, 208) 100%);
    --wp--preset--gradient--pale-ocean: linear-gradient(135deg, rgb(255, 245, 203) 0%, rgb(182, 227, 212) 50%, rgb(51, 167, 181) 100%);
    --wp--preset--gradient--electric-grass: linear-gradient(135deg, rgb(202, 248, 128) 0%, rgb(113, 206, 126) 100%);
    --wp--preset--gradient--midnight: linear-gradient(135deg, rgb(2, 3, 129) 0%, rgb(40, 116, 252) 100%);
    --wp--preset--duotone--dark-grayscale: url('#wp-duotone-dark-grayscale');
    --wp--preset--duotone--grayscale: url('#wp-duotone-grayscale');
    --wp--preset--duotone--purple-yellow: url('#wp-duotone-purple-yellow');
    --wp--preset--duotone--blue-red: url('#wp-duotone-blue-red');
    --wp--preset--duotone--midnight: url('#wp-duotone-midnight');
    --wp--preset--duotone--magenta-yellow: url('#wp-duotone-magenta-yellow');
    --wp--preset--duotone--purple-green: url('#wp-duotone-purple-green');
    --wp--preset--duotone--blue-orange: url('#wp-duotone-blue-orange');
    --wp--preset--font-size--small: 13px;
    --wp--preset--font-size--medium: 20px;
    --wp--preset--font-size--large: 36px;
    --wp--preset--font-size--x-large: 42px;
}

.has-black-color {
    color: var(--wp--preset--color--black) !important;
}

.has-cyan-bluish-gray-color {
    color: var(--wp--preset--color--cyan-bluish-gray) !important;
}

.has-white-color {
    color: var(--wp--preset--color--white) !important;
}

.has-pale-pink-color {
    color: var(--wp--preset--color--pale-pink) !important;
}

.has-vivid-red-color {
    color: var(--wp--preset--color--vivid-red) !important;
}

.has-luminous-vivid-orange-color {
    color: var(--wp--preset--color--luminous-vivid-orange) !important;
}

.has-luminous-vivid-amber-color {
    color: var(--wp--preset--color--luminous-vivid-amber) !important;
}

.has-light-green-cyan-color {
    color: var(--wp--preset--color--light-green-cyan) !important;
}

.has-vivid-green-cyan-color {
    color: var(--wp--preset--color--vivid-green-cyan) !important;
}

.has-pale-cyan-blue-color {
    color: var(--wp--preset--color--pale-cyan-blue) !important;
}

.has-vivid-cyan-blue-color {
    color: var(--wp--preset--color--vivid-cyan-blue) !important;
}

.has-vivid-purple-color {
    color: var(--wp--preset--color--vivid-purple) !important;
}

.has-black-background-color {
    background-color: var(--wp--preset--color--black) !important;
}

.has-cyan-bluish-gray-background-color {
    background-color: var(--wp--preset--color--cyan-bluish-gray) !important;
}

.has-white-background-color {
    background-color: var(--wp--preset--color--white) !important;
}

.has-pale-pink-background-color {
    background-color: var(--wp--preset--color--pale-pink) !important;
}

.has-vivid-red-background-color {
    background-color: var(--wp--preset--color--vivid-red) !important;
}

.has-luminous-vivid-orange-background-color {
    background-color: var(--wp--preset--color--luminous-vivid-orange) !important;
}

.has-luminous-vivid-amber-background-color {
    background-color: var(--wp--preset--color--luminous-vivid-amber) !important;
}

.has-light-green-cyan-background-color {
    background-color: var(--wp--preset--color--light-green-cyan) !important;
}

.has-vivid-green-cyan-background-color {
    background-color: var(--wp--preset--color--vivid-green-cyan) !important;
}

.has-pale-cyan-blue-background-color {
    background-color: var(--wp--preset--color--pale-cyan-blue) !important;
}

.has-vivid-cyan-blue-background-color {
    background-color: var(--wp--preset--color--vivid-cyan-blue) !important;
}

.has-vivid-purple-background-color {
    background-color: var(--wp--preset--color--vivid-purple) !important;
}

.has-black-border-color {
    border-color: var(--wp--preset--color--black) !important;
}

.has-cyan-bluish-gray-border-color {
    border-color: var(--wp--preset--color--cyan-bluish-gray) !important;
}

.has-white-border-color {
    border-color: var(--wp--preset--color--white) !important;
}

.has-pale-pink-border-color {
    border-color: var(--wp--preset--color--pale-pink) !important;
}

.has-vivid-red-border-color {
    border-color: var(--wp--preset--color--vivid-red) !important;
}

.has-luminous-vivid-orange-border-color {
    border-color: var(--wp--preset--color--luminous-vivid-orange) !important;
}

.has-luminous-vivid-amber-border-color {
    border-color: var(--wp--preset--color--luminous-vivid-amber) !important;
}

.has-light-green-cyan-border-color {
    border-color: var(--wp--preset--color--light-green-cyan) !important;
}

.has-vivid-green-cyan-border-color {
    border-color: var(--wp--preset--color--vivid-green-cyan) !important;
}

.has-pale-cyan-blue-border-color {
    border-color: var(--wp--preset--color--pale-cyan-blue) !important;
}

.has-vivid-cyan-blue-border-color {
    border-color: var(--wp--preset--color--vivid-cyan-blue) !important;
}

.has-vivid-purple-border-color {
    border-color: var(--wp--preset--color--vivid-purple) !important;
}

.has-vivid-cyan-blue-to-vivid-purple-gradient-background {
    background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;
}

.has-light-green-cyan-to-vivid-green-cyan-gradient-background {
    background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;
}

.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background {
    background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;
}

.has-luminous-vivid-orange-to-vivid-red-gradient-background {
    background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;
}

.has-very-light-gray-to-cyan-bluish-gray-gradient-background {
    background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;
}

.has-cool-to-warm-spectrum-gradient-background {
    background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;
}

.has-blush-light-purple-gradient-background {
    background: var(--wp--preset--gradient--blush-light-purple) !important;
}

.has-blush-bordeaux-gradient-background {
    background: var(--wp--preset--gradient--blush-bordeaux) !important;
}

.has-luminous-dusk-gradient-background {
    background: var(--wp--preset--gradient--luminous-dusk) !important;
}

.has-pale-ocean-gradient-background {
    background: var(--wp--preset--gradient--pale-ocean) !important;
}

.has-electric-grass-gradient-background {
    background: var(--wp--preset--gradient--electric-grass) !important;
}

.has-midnight-gradient-background {
    background: var(--wp--preset--gradient--midnight) !important;
}

.has-small-font-size {
    font-size: var(--wp--preset--font-size--small) !important;
}

.has-medium-font-size {
    font-size: var(--wp--preset--font-size--medium) !important;
}

.has-large-font-size {
    font-size: var(--wp--preset--font-size--large) !important;
}

.has-x-large-font-size {
    font-size: var(--wp--preset--font-size--x-large) !important;
}

:root {
    --wp-tm-primary-color: 14, 165, 233;
    --wp-tm-primary-focus: 56, 189, 248;
    --wp-tm-primary-content: 238, 242, 255;
    --wp-tm-secondary-color: 59, 130, 246;
    --wp-tm-secondary-focus: 96, 165, 250;
    --wp-tm-secondary-content: 239, 246, 255;
    --wp-tm-accent-color: 30, 41, 59;
    --wp-tm-accent-focus: 51, 65, 85;
    --wp-tm-accent-content: 248, 250, 252;
    --wp-tm-neutral-color: 31, 41, 55;
    --wp-tm-neutral-focus: 55, 65, 81;
    --wp-tm-neutral-content: 249, 250, 251;
    --wp-tm-base-color: 255, 255, 255;
    --wp-tm-base-content: 31, 41, 55;
    --wp-tm-base-100: 243, 244, 246;
    --wp-tm-base-200: 229, 231, 235;
}


html,
body,
button,
input,
select,
textarea {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    font-weight: normal;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    font-weight: normal;
    line-height: 1.5;
}

h1,
.prose h1 {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    font-weight: normal;
    line-height: 1.5;
}

h2,
.prose h2 {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    font-weight: normal;
    line-height: 1.5;
}

h3,
.prose h3 {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    font-weight: normal;
    line-height: 1.5;
}

.navbar .menu {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    font-weight: normal;
}

.hero {
    background-position: center center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}

.wp-tm-hero-shape-divider svg {
    width: calc(100% + 1.3px);
    height: 100px;
    transform: translateX(-50%);
}

.navbar-custom {
    --wp-tm-custom-navbar-background: rgba(255, 255, 255, 0);
    --wp-tm-custom-navbar-mobile-background: rgb(255, 255, 255);
    --wp-tm-custom-sticky-background: rgb(255, 255, 255);
    --wp-tm-custom-navbar-color: #181830;
    --wp-tm-custom-menu-link-color: #181830;
    --wp-tm-custom-menu-link-active-color: #fcb92b;
    --wp-tm-custom-menu-link-active-border-color: #fcb92b;
    --wp-tm-custom-menu-link-active-background: rgba(255, 255, 255, 0);
}

:root {
    --mek-primary-color: 14, 165, 233;
    --mek-primary-focus: 56, 189, 248;
    --mek-primary-content: 240, 249, 255;
    --mek-secondary-color: 6, 182, 212;
    --mek-secondary-focus: 34, 211, 238;
    --mek-secondary-content: 236, 254, 255;
    --mek-accent-color: 71, 85, 105;
    --mek-accent-focus: 100, 116, 139;
    --mek-accent-content: 248, 250, 252;
    --mek-neutral-color: 75, 85, 99;
    --mek-neutral-focus: 107, 114, 128;
    --mek-neutral-content: 249, 250, 251;
    --mek-info-color: 13, 165, 233;
    --mek-info-focus: 56, 189, 248;
    --mek-info-content: 255, 255, 255;
    --mek-success-color: 16, 185, 129;
    --mek-success-focus: 52, 211, 153;
    --mek-success-content: 255, 255, 255;
    --mek-warning-color: 251, 146, 60;
    --mek-warning-focus: 253, 186, 116;
    --mek-warning-content: 255, 255, 255;
    --mek-error-color: 220, 38, 38;
    --mek-error-focus: 239, 68, 68;
    --mek-error-content: 255, 255, 255;
    --mek-base-color: 255, 255, 255;
    --mek-base-100: 241, 245, 249;
    --mek-base-200: 226, 232, 240;
    --mek-base-content: 30, 41, 59;
}

[data-mek-theme-0],
.mek-theme-0 {
    --mek-primary-color: 252, 185, 43;
    --mek-primary-focus: 255, 200, 82;
    --mek-primary-content: 24, 24, 48;
    --mek-secondary-color: 250, 195, 17;
    --mek-secondary-focus: 255, 188, 79;
    --mek-secondary-content: 255, 255, 255;
    --mek-accent-color: 24, 24, 48;
    --mek-accent-focus: 27, 46, 88;
    --mek-accent-content: 255, 255, 255;
    --mek-neutral-color: 29, 39, 51;
    --mek-neutral-focus: 43, 56, 72;
    --mek-neutral-content: 255, 255, 255;
    --mek-info-color: 13, 165, 233;
    --mek-info-focus: 56, 189, 248;
    --mek-info-content: 255, 255, 255;
    --mek-success-color: 16, 185, 129;
    --mek-success-focus: 52, 211, 153;
    --mek-success-content: 255, 255, 255;
    --mek-warning-color: 251, 146, 60;
    --mek-warning-focus: 253, 186, 116;
    --mek-warning-content: 255, 255, 255;
    --mek-error-color: 220, 38, 38;
    --mek-error-focus: 239, 68, 68;
    --mek-error-content: 255, 255, 255;
    --mek-base-color: 255, 255, 255;
    --mek-base-100: 241, 245, 249;
    --mek-base-200: 226, 232, 240;
    --mek-base-content: 30, 41, 59;
}

[data-mek-theme-1],
.mek-theme-1 {
    --mek-primary-color: 14, 165, 233;
    --mek-primary-focus: 56, 189, 248;
    --mek-primary-content: 240, 249, 255;
    --mek-secondary-color: 6, 182, 212;
    --mek-secondary-focus: 34, 211, 238;
    --mek-secondary-content: 236, 254, 255;
    --mek-accent-color: 71, 85, 105;
    --mek-accent-focus: 100, 116, 139;
    --mek-accent-content: 248, 250, 252;
    --mek-neutral-color: 75, 85, 99;
    --mek-neutral-focus: 107, 114, 128;
    --mek-neutral-content: 249, 250, 251;
    --mek-info-color: 13, 165, 233;
    --mek-info-focus: 56, 189, 248;
    --mek-info-content: 255, 255, 255;
    --mek-success-color: 16, 185, 129;
    --mek-success-focus: 52, 211, 153;
    --mek-success-content: 255, 255, 255;
    --mek-warning-color: 251, 146, 60;
    --mek-warning-focus: 253, 186, 116;
    --mek-warning-content: 255, 255, 255;
    --mek-error-color: 220, 38, 38;
    --mek-error-focus: 239, 68, 68;
    --mek-error-content: 255, 255, 255;
    --mek-base-color: 255, 255, 255;
    --mek-base-100: 241, 245, 249;
    --mek-base-200: 226, 232, 240;
    --mek-base-content: 30, 41, 59;
}

[data-mek-theme-2],
.mek-theme-2 {
    --mek-primary-color: 107, 112, 92;
    --mek-primary-focus: 165, 165, 141;
    --mek-primary-content: 251, 250, 248;
    --mek-secondary-color: 101, 109, 74;
    --mek-secondary-focus: 164, 172, 134;
    --mek-secondary-content: 251, 250, 248;
    --mek-accent-color: 104, 103, 99;
    --mek-accent-focus: 184, 181, 176;
    --mek-accent-content: 251, 250, 248;
    --mek-neutral-color: 121, 110, 101;
    --mek-neutral-focus: 140, 130, 121;
    --mek-neutral-content: 251, 250, 248;
    --mek-info-color: 13, 165, 233;
    --mek-info-focus: 56, 189, 248;
    --mek-info-content: 255, 255, 255;
    --mek-success-color: 16, 185, 129;
    --mek-success-focus: 52, 211, 153;
    --mek-success-content: 255, 255, 255;
    --mek-warning-color: 251, 146, 60;
    --mek-warning-focus: 253, 186, 116;
    --mek-warning-content: 255, 255, 255;
    --mek-error-color: 220, 38, 38;
    --mek-error-focus: 239, 68, 68;
    --mek-error-content: 255, 255, 255;
    --mek-base-color: 245, 244, 239;
    --mek-base-100: 229, 226, 217;
    --mek-base-200: 184, 181, 176;
    --mek-base-content: 51, 61, 41;
}

